@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    .container {
      @apply mx-auto;
    }
    .element_center {
      @apply flex justify-center items-center;
    }
    .svg_img{
     @apply w-[28px] h-[28px] object-contain 
    }
    .svg_img_slider{
      @apply w-[20px] h-[20px]  sm:w-[40px] sm:h-[40px] object-contain  bg-[#6C6B6A] p-1 sm:p-3 rounded-full
    }
    .layer_card{
      @apply bg-white rounded-lg p-[6px] sm:p-[20px] w-full box_shadow mb-[15px]

    }
    
}

.price_change:hover{
  content: url('../assets/price_change_black.png'); 
  transition: all 0.3s ease; 
}
.notifications:hover{
  content: url('../assets/notifications_yellow.png'); 
  transition: all 0.3s ease; 
}
.favorite:hover{
  content: url('../assets/favorite_yellow.png'); 
  transition: all 0.3s ease; 
  transform: scale(1.7);
}
.box_shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 
.background_button{
  background: transparent linear-gradient(270deg, #D20653 0%, #9B0257 100%) 0% 0% no-repeat padding-box
}

.background_header{
 background: #D20653 0% 0% no-repeat padding-box;
 opacity: .1;
}
.border_select {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #fff;
}